@model IEnumerable<TrainingCenterManagement_MVC.Models.Trainee>
@{
    ViewData["Title"] = "Trainees";
    var courseName = ViewBag.CourseName as string;
}

<h2>Trainees in Course: @courseName</h2>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Birth Date</th>
                <th>Certificates</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trainee in Model)
            {
                <tr>
                    <td>@trainee.User.FullName</td>
                    <td>@trainee.BirthDate.ToShortDateString()</td>
                    <td>
                        <span class="text-muted">Only Admin can issue certificates</span>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Admin" asp-action="IssueCertificate" asp-route-traineeId="@trainee.TraineeId" asp-route-courseId="@ViewBag.CourseId"
                               class="btn btn-success btn-sm">Issue Certificate</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">No trainees enrolled in this course.</div>
}
