@model List<TrainingCenterManagement_MVC.Models.Payment>

@{
    Layout = ViewBag.IsPdf == true ? null : "_Layout";
    ViewData["Title"] = "Payments Report";
}

<h2 class="text-center my-4">Payments Report for Course: @ViewBag.CourseName</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Trainee</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@((i + 1))</th>
                <td>@Model[i].Trainee.User.FullName</td>
                <td>@Model[i].TotalAmount.ToString("C")</td>
                <td>@Model[i].CreatedDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
