@model TrainingCenterManagement_MVC.Models.Presence

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4">Delete Presence</h1>

<h3>Are you sure you want to delete this?</h3>

<div class="card p-4 mb-4">
    <h4>Presence Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsPresent)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IsPresent)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsDeleted)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IsDeleted)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Lecture)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Lecture.Title)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Trainee)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Trainee.UserId)</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="PresenceId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </form>
</div>
