@model TrainingCenterManagement_MVC.Models.Presence

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Presence Details</h1>

<div class="card p-4 mb-4">
    <h4>Presence Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsPresent)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IsPresent)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsDeleted)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IsDeleted)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Lecture)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Lecture.Title)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Trainee)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Trainee.UserId)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PresenceId" class="btn btn-primary me-2">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
