@model TrainingCenterManagement_MVC.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfLectures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfLectures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.UserId)
        </dd>
    </dl>
</div>
<hr />
<h4>Assigned Trainers</h4>
<ul>
    @if (Model.CourseTrainers != null && Model.CourseTrainers.Any())
    {
        foreach (var ct in Model.CourseTrainers)
        {
            <li>@ct.Trainer.User.FullName (@ct.Trainer.Specialty)</li>
        }
    }
    else
    {
        <li>No trainers assigned.</li>
    }
</ul>

<h4>Assigned Trainees</h4>
<ul>
    @if (Model.CourseTrainees != null && Model.CourseTrainees.Any())
    {
        foreach (var ct in Model.CourseTrainees)
        {
            <li>@ct.Trainee.User.FullName (Birthdate: @ct.Trainee.BirthDate.ToShortDateString())</li>
        }
    }
    else
    {
        <li>No trainees assigned.</li>
    }
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>|
    <a asp-action="AssignTrainer" asp-route-id="@Model.CourseId" class="btn btn-link">Assign Trainer</a> |
    <a asp-action="AssignTrainees" asp-route-id="@Model.CourseId" class="btn btn-link">Assign Trainees</a>|
    <a asp-action="CourseAttendance" asp-controller="Courses" asp-route-courseId="@Model.CourseId" class="btn btn-info mt-3">
        View Attendance Statistics
    </a>
</div>

<hr />

<div class="mt-3">
    <a asp-action="ViewLectures" asp-controller="Trainees" asp-route-courseId="@Model.CourseId" class="btn btn-outline-primary">📚 View Lectures</a>
    <a asp-action="TrackAttendance" asp-controller="Trainees" asp-route-courseId="@Model.CourseId" class="btn btn-outline-success">📊 Track Attendance</a>
    <a asp-action="ViewPayments" asp-controller="Trainees" asp-route-courseId="@Model.CourseId" class="btn btn-outline-warning">💳 View Payments</a>
    <a asp-controller="Payments" asp-action="ViewCoursePayments" asp-route-courseId="@Model.CourseId" class="btn btn-outline-primary">
        View Course Payments
    </a>
    <a asp-controller="Payments" asp-action="ExportPaymentsPdf" asp-route-courseId="@Model.CourseId"
       class="btn btn-outline-danger mt-3">🧾 تصدير مدفوعات الدورة PDF</a>

</div>
